/*Menu */
#mySidenav a {
    position: absolute;
    left: -90px;
    transition: 0.5s;
    padding: 14px;
    width: 110px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 12px 12px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact23 {
    top: 200px;
    background-color: #555;
}

/*auto text*/
    h1{
            animation: type 3s steps(17);
            overflow: hidden;
            white-space: nowrap;
            /*font-family: consolas;*/
            border-right: 2px solid black;
            width: 17ch;
            animation: type 5s steps(17) infinite;
            
        }
        @keyframes type{
            0%{
                width: 0ch;
            }
            100%{
                width: 17ch;
            }
        }